/*  ------------------------------ Global Styles ---------------------------- */
html, body, #waves-wrap {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-size: 20px;
  font-family: sans-serif;
  color: #555;
}

#waves-wrap {
  background-color: #999;
}

/* ------------------------------- Global Navigation ------------------------ */
#waves-wrap header.global-navigation {
  height: inherit;
}

#waves-wrap header.global-navigation nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#waves-wrap header.global-navigation nav ul li {
  background-color: #333;
  transition: .3s ease-in-out;
}

#waves-wrap header.global-navigation nav ul li a {
  display: block;
  height: inherit;
  color: white;
}

/* Active Styles */
#waves-wrap header.global-navigation nav.inactive {
  width: 30%;
  margin: 0 auto;
  position: relative;
  top: 6em;
}

#waves-wrap header.global-navigation nav.inactive ul {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#waves-wrap header.global-navigation nav.inactive ul li {
  display: block;
  height: 40%;
  width: 40%;
  margin: 1%;
  flex-grow: 1;
}

#waves-wrap header.global-navigation nav.inactive ul li:hover {
  background-color: #888;
}

#waves-wrap header.global-navigation nav.inactive ul li a {
  text-decoration: none;
  text-align: center;
  padding: 4em 0;
  box-sizing: border-box;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* Inactive Styles */
#waves-wrap header.global-navigation nav.active {

}

#waves-wrap header.global-navigation nav.active ul {

}

#waves-wrap header.global-navigation nav.active ul li {

}

#waves-wrap header.global-navigation nav.active ul li:hover {

}

#waves-wrap header.global-navigation nav.active ul li a {

}
