/* Global Styles */
html, body, #waves-wrap {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-size: 20px;
  font-family: sans-serif;
  color: #555;
}

#waves-wrap {
  background-color: #999;
}

/* Global Navigation */
#waves-wrap header.global-navigation {
  height: inherit;
}

#waves-wrap header.global-navigation nav {
  height: 100%;
  width: 35%;
  margin: 0 auto;
  position: relative;
  top: 6em;
}

#waves-wrap header.global-navigation nav ul {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

#waves-wrap header.global-navigation nav ul li {
  display: block;
  height: 10em;
  width: 10em;
  margin: .25em;
  flex-grow: 1;
  position: relative;
}

#waves-wrap header.global-navigation nav ul li a {
  display: block;
  height: inherit;
  background-color: #333;
  color: white;
  text-decoration: none;
  transition: .3s ease-in-out;
  text-align: center;
  padding-top: 4em;
  box-sizing: border-box;
}

#waves-wrap header.global-navigation nav ul li a:hover {
  background-color: #888;
}

#waves-wrap header.global-navigation nav ul li.clip {
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

#waves-wrap header.global-navigation nav ul li.clip.home-link {
  top: 0;
  left: 5.7em;
}

#waves-wrap header.global-navigation nav ul li.clip.waves-link {
  top: 5.1em;
  left: 0;
}

#waves-wrap header.global-navigation nav ul li.clip.weather-link {
  top: -0.3em;
  left: 5.7em;
}

#waves-wrap header.global-navigation nav ul li.clip.profile-link {
  top: -5.4em;
  left: -11em;
}
